@import url(global.css);

#social {
   padding: 128px 120px 200px;
   display: grid;
   gap: 48px;
   background-image: url(../assets/images/backgrounds/Background_Contacts.png);
   background-size: cover;
}

.tittle1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
}

.tittle1 h3 {
   color: var(--purple);
   font: var(--subtitle);
}

.tittle1 h1 {
   color: var(--gray600);
   font: var(--title-md);
}

.tittle1 h2 {
   color: var(--gray500);
   font: var(--text-md);
}

#grid-social {
   display: grid;
   justify-content: center;
   gap: 16px;
}

.social-button {
   height: 68px;
   width: 400px;
   padding: 20px;
   display: flex;
   background-color: var(--gray300);
   border-radius: 8px;
   justify-content: space-between;
   align-items: center;
   border: 0px;
   cursor: pointer;
}

.social-button:hover {
   outline: 1px solid var(--blue);
}

.social-button a {
   font: 500 var(--text-md);
   color: var(--gray500);
   height: 20px;
}

.social-button div {
   display: flex;
   gap: 8px;
   align-items: center;
}

.social-button div a:nth-child(1) {
   height: 28px;
   width: 28px;
}
.social-button div a:nth-child(2) {
   height: 23px;
   width: 60px;
}
.social-button div a img {
   height: 28px;
   width: 28px;
}

.setaCima{
   height: 20px;
   width: 20px;
}