*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* FONTES */
   --font1: Asap, sans-serif;
   --font2: Inconsolata, sans-serif;
   --font3: "Maven Pro", system-ui;

   --title-lg: 56px/120% var(--font1); /* font weight: bold */
   --title-md: 24px/120% var(--font1); /* font weight: bold */
   --title-sm: 16px/120% var(--font1); /* font weight: bold */

   --subtitle: 20px/120% var(--font2); /* font weight: normal */

   --text-md: 16px/140% var(--font3); /* font weight: normal */
   --text-sm: 14px/140% var(--font3); /* font weight: normal */


   /* COLORS */
   --red: #E3646E;
   --blue: #3996db;
   --green: #82bc4f;
   --yellow: #eabd5f;
   --purple: #bb72e9;

   --gray100: #0d0e11;
   --gray200: #16181d;
   --gray300: #292c34;
   --gray400: #878ea1;
   --gray500: #c0c4ce;
   --gray600: #e2e4e9;
}

.iconTag {
   height: 40px;
   background-color: var(--gray300);
   border-radius: 999px;
}

.iconTag img{
   height: 24px;
}

.project-card {

}

.social-button {
   
}