@import url(global.css);

#projects {
   display: flex;
   flex-direction: column;
   gap: 56px;
   background-color: var(--gray200);
   padding: 72px 120px 144px 120px;
}

.tittle {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
}

.tittle h3 {
   color: var(--blue);
   font: var(--subtitle);
}

.tittle h2 {
   color: var(--gray600);
   font: var(--title-md);
}

#grid-projetos {
   display: grid;
   grid-template-columns: 330px 330px 330px;
   grid-template-rows: 280px 280px;
   justify-content: center;
   gap: 24px;
}
